[submodule "smrt-backend"]
	path = smrt-backend
	url = https://github.com/sessions-io/smrt-backend
[submodule "smrt-ios"]
	path = smrt-ios
	url = https://github.com/sessions-io/smrt-ios
[submodule "smrt-android"]
	path = smrt-android
	url = https://github.com/sessions-io/smrt-android
[submodule "smrt-create"]
	path = smrt-create
	url = https://github.com/sessions-io/smrt-create
